<div class="page-header">
    <h1>닉네임:
        <a href="https://www.google.co.kr/search?tbm=isch&q=matrix+merovingian" target="_blank" title="매트릭스 리로디드에 나온 악당보스.">
        메로빈지언
        </a>
    </h1>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>이름</dt>
        <dd>정성훈</dd>
        <dt>생년</dt>
        <dd>(빠른..) 1986 년생</dd>
        <dt>학력 / 전공</dt>
        <dd>국민대학교 컴퓨터공학 2012년 졸업</dd>
        <dt>직업</dt>
        <dd>웹개발자 / <a href="http://makeall.subnara.info/subpage.php?p=maker_info" target="_blank">메이커 지망생</a></dd>
        <dt>직장</dt>
        <dd>
            <ul>
                <li>2012~현재 : 심플렉스인터넷 (카페24)</li>
            </ul>
        </dd>
        <dt>관심사</dt>
        <dd>웹개발, 앱개발, 게임개발, 라즈베리파이, 3D 프린팅, VR, AR, 바베큐, 맥주, 메이커운동</dd>
        <br/>
        <dt>한마디</dt>
        <dd>
            안녕하세요. 여기는 제가 개인적으로 진행했던 프로젝트를 소개하는 공간입니다.
            <br/>비록 누추하나 재미있게 둘러보시고 가셨으면 좋겠습니다. 방명록에 한마디 남겨주시면 감사하구요 :)
        </dd>
    </dl>
</div>


